body {
  background-color: black;
  color: #2c001e;
  font-family: Ubuntu, sans-serif;
}
.output {
  color: white;
}
.output a{
	color: yellow;
}
.output a:visited{
	color: yellow;
}
.active:after {
  content: '_';
}
img{
	display: none;
	
}