body {
  	background-color: #2c001e;
  	color: #55ff55;
  	font-family: Consolas, monaco, monospace;
}
.output {
  	color: white;
}
.output a{
	color: yellow;
}
.output a:visited{
	color: yellow;
}
.active:after {
  	content: '_';
}
img{
	display: none;
	
}